* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1150px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
ul {
    padding: 0;
    margin: 0;
}
ul>li {
    display: inline-block;
    width: calc(100%/4);
    margin-right: -4px;
    text-align: center;
}
a {
    display: block;
    padding: 20px 20px;
}
li>ul {
    position: absolute;
}
