* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.one {
    max-width: 100%;
    background: #78f896;
}
.container {
    max-width: 1150px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu>li {
    position: relative;
    display: inline-block;
    width: calc(100%/4);
    padding: 0px 20px;
    margin-right: -4px;
    text-align: center;
    transition: all .8s
}
.menu>li:hover {
    box-shadow: 1px 1px 5px black;
}
.menu_span {
    position: absolute;
    top: 40%;
    right: 10%;
}
.menu>li:hover .menu_span {
    left: 10%;
    top: 101%;
}
a {
    display: block;
    text-decoration: none;
    color: #5c63b6;
    padding: 20px 0;
}
.menu_2 {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
}
.menu>li:hover .menu_2{
    display: block;
}
.menu_2 a {
    background: #e7d5fc;
    border-radius: 5px;
    transition: all .8s;
}
.menu_2 li:hover>a {
    box-shadow: 1px 1px 5px black;
}
.menu_2 li {
    padding-bottom: 5px;
}
.prod1 {
    position: relative;
    width: 290px;
    padding-right: 20px;
    padding-top: 20px;
}
.prod1 ul {
    position: absolute;
    left: 100%;
    top: 20px;
    display: none;
}
.prod2 {
    position: relative;
    width: 290px;
    padding-left: 20px;
    margin-left: -20px;
}
.prod2 ul {
    position: absolute;
    right: 100%;
    top: 0px;
    display: none;
}
.menu_2>li:hover ul {
    display: block;
}
.menu_2 [class$="right2"],[class$="left2"] {
    display: none;
}
.prod1 [class$="down2"] {
    position: absolute;
    right: 10%;
    top: 50%;
}
.prod2 [class$="down2"] {
    position: absolute;
    left: 10%;
    top: 40%;
}
.sub li {
    width: 290px;
}
.prod1:hover [class$="right2"] {
    display: block;
    position: absolute;
    left: 94%;
    top: 50%;
}
.prod2:hover [class$="left2"] {
    display: block;
    position: absolute;
    left: 0;
    top: 40%;
}
.menu_2 li:hover [class$="down2"] {
    display: none;
}
.sub li:hover a {
    box-shadow: 1px 1px 5px black;
}